### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["Purchase ID"].count()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
total_rev = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_rev]})
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
total_male = male_df["Purchase ID"].count()
female_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
total_female = female_df["Purchase ID"].count()
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
total_other = other_df["Purchase ID"].count()

perc_male = (total_male / (total_male + total_female + total_other)) * 100
perc_female = (total_female / (total_male + total_female + total_other)) * 100
perc_other = (total_other / (total_male + total_female + total_other)) * 100

summary_df2 = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],"Total Count": [total_male, total_female, total_other], "Percentage of Players": [perc_male, perc_female, perc_other]})
summary_df2.set_index("Gender", inplace = True)
summary_df2["Percentage of Players"] = summary_df2["Percentage of Players"].map("{:,.2f}%".format)
summary_df2

                     Total Count Percentage of Players
Gender
Male                         652                83.59%
Female                       113                14.49%
Other/Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Male
avg_pur_male = male_df["Price"].mean()
tot_pur_male = male_df["Price"].sum()
avg_purpermale = tot_pur_male / total_male

#Female
avg_pur_female = female_df["Price"].mean()
tot_pur_female = female_df["Price"].sum()
avg_purperfemale = tot_pur_female / total_female

#Other
avg_pur_other = other_df["Price"].mean()
tot_pur_other = other_df["Price"].sum()
avg_purperother = tot_pur_other / total_other

summary_df3 = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],"Purchase Count": [total_male, total_female, total_other], 
                             "Average Purchase Price": [avg_pur_male, avg_pur_female, avg_pur_other], "Total Purchase Value": [tot_pur_male, tot_pur_female, tot_pur_other],
                            "Average Total Purchase per Person": [avg_purpermale, avg_purperfemale, avg_purperother]})
summary_df3.set_index("Gender", inplace = True)
summary_df3["Average Purchase Price"] = summary_df3["Average Purchase Price"].map("${:,.2f}".format)
summary_df3["Total Purchase Value"] = summary_df3["Total Purchase Value"].map("${:,.2f}".format)
summary_df3["Average Total Purchase per Person"] = summary_df3["Average Total Purchase per Person"].map("${:,.2f}".format)
summary_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$3.02
Female,113,$3.20,$361.94,$3.20
Other/Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, right = False, labels=bin_names)
purchase_data
age_summary = purchase_data.groupby("Age Range")
age_summary.count()
age_summary_df = pd.DataFrame(age_summary.count())
age_summary_df["Purchase ID"] = (age_summary_df["Purchase ID"]/total_players)*100
age_summary_df["Purchase ID"] = age_summary_df["Purchase ID"].map("{:,.2f}%".format)
age_summary_df
summary_df4 = age_summary_df[["Purchase ID", "SN"]]
summary_df4 = summary_df4.rename(index = str, columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
summary_df4

          Percentage of Players  Total Count
Age Range
<10                       2.95%           23
10-14                     3.59%           28
15-19                    17.44%          136
20-24                    46.79%          365
25-29                    12.95%          101
30-34                     9.36%           73
35-39                     5.26%           41
40+                       1.67%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, right = False, labels=bin_names)
purchase_data
age_summary_2 = purchase_data.groupby("Age Range")
age_count_2["Purchase Count"] = age_summary_2["Purchase ID"].count()
age_count_2["Avg. Purchase Price"] = age_summary_2["Price"].mean()
age_count_2["Total Purchase Value"] = age_summary_2["Price"].sum()
age_count_2["Avg. Purchase Total per Person"] = (age_count_2["Total Purchase Value"]/age_count_2["Purchase Count"])
age_count_2
age_count_2_df = pd.DataFrame(age_count_2)
age_count_2_df = age_count_2_df.drop(["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price", "Avg Purchase Total per Person"], axis = 1)
age_count_2_df["Avg. Purchase Price"] = age_count_2_df["Avg. Purchase Price"].map("${:,.2f}".format)
age_count_2_df["Total Purchase Value"] = age_count_2_df["Total Purchase Value"].map("${:,.2f}".format)
age_count_2_df["Avg. Purchase Total per Person"] = age_count_2_df["Avg. Purchase Total per Person"].map("${:,.2f}".format)
age_count_2_df

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
top_spenders_df = pd.DataFrame(purchase_data.groupby("SN"))
top_spenders_df.sort_values(by="Price")
top_spenders_df.head()

KeyError: 'Price'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80