### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
total_players = purchase_data["Purchase ID"].count()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [6]:
unique_items = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
total_rev = purchase_data["Price"].sum()
total_purchases = purchase_data["Purchase ID"].count()
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_rev]})
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
male_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
total_male = male_df["Purchase ID"].count()
female_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
total_female = female_df["Purchase ID"].count()
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
total_other = other_df["Purchase ID"].count()

perc_male = (total_male / (total_male + total_female + total_other)) * 100
perc_female = (total_female / (total_male + total_female + total_other)) * 100
perc_other = (total_other / (total_male + total_female + total_other)) * 100

summary_df2 = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],"Total Count": [total_male, total_female, total_other], "Percentage of Players": [perc_male, perc_female, perc_other]})
summary_df2.set_index("Gender", inplace = True)
summary_df2["Percentage of Players"] = summary_df2["Percentage of Players"].map("{:,.2f}%".format)
summary_df2

                     Total Count Percentage of Players
Gender
Male                         652                83.59%
Female                       113                14.49%
Other/Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Male
avg_pur_male = male_df["Price"].mean()
tot_pur_male = male_df["Price"].sum()
avg_purpermale = tot_pur_male / total_male

#Female
avg_pur_female = female_df["Price"].mean()
tot_pur_female = female_df["Price"].sum()
avg_purperfemale = tot_pur_female / total_female

#Other
avg_pur_other = other_df["Price"].mean()
tot_pur_other = other_df["Price"].sum()
avg_purperother = tot_pur_other / total_other

summary_df3 = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],"Purchase Count": [total_male, total_female, total_other], 
                             "Average Purchase Price": [avg_pur_male, avg_pur_female, avg_pur_other], "Total Purchase Value": [tot_pur_male, tot_pur_female, tot_pur_other],
                            "Average Total Purchase per Person": [avg_purpermale, avg_purperfemale, avg_purperother]})
summary_df3.set_index("Gender", inplace = True)
summary_df3["Average Purchase Price"] = summary_df3["Average Purchase Price"].map("${:,.2f}".format)
summary_df3["Total Purchase Value"] = summary_df3["Total Purchase Value"].map("${:,.2f}".format)
summary_df3["Average Total Purchase per Person"] = summary_df3["Average Total Purchase per Person"].map("${:,.2f}".format)
summary_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$3.02
Female,113,$3.20,$361.94,$3.20
Other/Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, right = False, labels=bin_names)
purchase_data
age_summary = purchase_data.groupby("Age Range")
age_summary.count()
age_summary_df = pd.DataFrame(age_summary.count())
age_summary_df["Purchase ID"] = (age_summary_df["Purchase ID"]/total_players)*100
age_summary_df["Purchase ID"] = age_summary_df["Purchase ID"].map("{:,.2f}%".format)
age_summary_df
summary_df4 = age_summary_df[["Purchase ID", "SN"]]
summary_df4 = summary_df4.rename(index = str, columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
summary_df4

          Percentage of Players  Total Count
Age Range
<10                       2.95%           23
10-14                     3.59%           28
15-19                    17.44%          136
20-24                    46.79%          365
25-29                    12.95%          101
30-34                     9.36%           73
35-39                     5.26%           41
40+                       1.67%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, right = False, labels=bin_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [29]:
age_summary_2 = purchase_data.groupby("Age Range")
age_summary_2_df = pd.DataFrame(age_summary_2.count())
age_summary_2_df
age_summary_2_df["Purchase Count"] = age_summary_2_df["Purchase ID"]
age_summary_2_df["Avg. Purchase Price"] = purchase_data["Price"].mean()
age_summary_2_df["Total Purchase Value"] = purchase_data["Price"].sum()
age_summary_2_df["Avg. Purchase Total per Person"] = (age_summary_2_df["Total Purchase Value"]/age_summary_2_df["Purchase Count"])
age_summary_2_df
age_summary_2_df = age_summary_2_df.drop(["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"], axis = 1)
age_summary_2_df["Avg. Purchase Price"] = age_summary_2_df["Avg. Purchase Price"].map("${:,.2f}".format)
age_summary_2_df["Total Purchase Value"] = age_summary_2_df["Total Purchase Value"].map("${:,.2f}".format)
age_summary_2_df["Avg. Purchase Total per Person"] = age_summary_2_df["Avg. Purchase Total per Person"].map("${:,.2f}".format)
age_summary_2_df

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Purchase Total per Person
Age Range,,,,
<10,23,$3.05,"$2,379.77",$103.47
10-14,28,$3.05,"$2,379.77",$84.99
15-19,136,$3.05,"$2,379.77",$17.50
20-24,365,$3.05,"$2,379.77",$6.52
25-29,101,$3.05,"$2,379.77",$23.56
30-34,73,$3.05,"$2,379.77",$32.60
35-39,41,$3.05,"$2,379.77",$58.04
40+,13,$3.05,"$2,379.77",$183.06

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
top_spenders_df = purchase_data.groupby("SN")
top_spenders_df.sort_values(by="Price")
top_spenders_df.head()

KeyError: 'Price'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
popular_items_df = purchase_data.groupby

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80