In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
premise_file = "../Resources/LicensePremise.csv"
premise_df = pd.read_csv(premise_file)
premise_df.head()

,License Serial Number,Premises Name,License Certificate Number,License Received Date,County ID Code
0,1311660,CANA ARRIBA GROCERY NO 2 INC,NaN,2018-06-29T00:00:00,0
1,1310023,JOHANA GROCERY & DELI CORP,NaN,2018-04-27T00:00:00,0
2,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
3,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
4,1311663,181 LEXINGTON AVENUE BBQ LLC,NaN,2018-06-29T00:00:00,2

In [ ]:
county_file = "../Resources/CountyLicenseCount.csv"
county_df = pd.read_csv(county_file)
county_df.head()

### Transform premise DataFrame

### Transform county DataFrame

### Create database connection

In [ ]:
# Confirm tables

### Load DataFrames into database